<p style= 'font-size:50px;'> Telco Churning Project </p>

In [2]:
import pandas as pd
import numpy as np
import os

os.getcwd()

'C:\\Users\\USER\\Azubi python lessons\\week 4'

In [3]:
churn_data = pd.read_csv('telco_churn-230301-080920.csv')
churn_data.head(3)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False

 ## Question 1

In [4]:
#total customer charge = day charge + evening charge + international charge
churn_data['total_customer_charge'] = churn_data['Total day charge'] + churn_data['Total eve charge'] + churn_data['Total intl charge']
churn_data.head(2)
# total customer charge is NaN due to missing values or undefined values


#handling missing variables
#drop new column
churn_data.drop( columns = 'total_customer_charge', inplace = True)
#check for missing values
churn_test = churn_data.isnull()
churn_test.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
#find columns with missing values
churn_data.isnull().sum()

State                      0
Account length             0
Area code                  0
International plan         0
Voice mail plan            0
Number vmail messages      0
Total day minutes         10
Total day calls           10
Total day charge          18
Total eve minutes          9
Total eve calls            8
Total eve charge           0
Total night minutes        0
Total night calls          1
Total night charge         0
Total intl minutes         0
Total intl calls           0
Total intl charge          5
Customer service calls     5
Churn                      8
dtype: int64

In [6]:
#fill in the missing values with pad method
churn_clean = churn_data.bfill()
churn_clean.head()

#create new column total customer charge
churn_clean['total customer charge'] = churn_clean['Total day charge'] + churn_clean['Total eve charge'] + churn_clean['Total intl charge']
churn_clean.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total customer charge
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False,64.55
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False,47.79
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False,54.97
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False,57.94
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False,43.68

 #### 2. which customer received the highest number of voicemails
 #### which state do they belong

In [128]:
highest_voice = max(churn_clean['Number vmail messages'])
customer = churn_clean[churn_clean['Number vmail messages'] == highest_voice]

customer_index = customer.index[0]
customer_index

customer_state = customer['State'].values[0]
customer_state
print(f' Customer No.{customer_index} received the highest number of calls and belongs to the {customer_state} state.')

 Customer No.845 received the highest number of calls and belongs to the FL state.

 ## 3. Customers with international plan with international charge greater than $3.7

In [39]:
intl_customers = churn_clean[(churn_clean['International plan'] == 'Yes') & (churn_clean['Total intl charge'] > 3.7)]
customer_count = intl_customers['State'].count()
print(f'{customer_count} customers have an international plan with international charge greater than $3.7.')

38 customers have an international plan with international charge greater than $3.7.

## 4. Number of customers who churned

In [66]:
churn_ed = churn_clean[churn_clean['Churn'] == True]
churned_num = churn_ed['Churn'].count()
print(f'{churned_num} customers churned.')
churn_ed

483 customers churned.

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total customer charge
10,IN,65,415,No,No,0,129.1,137.0,21.95,228.5,...,19.42,208.8,111.0,9.40,12.7,6,3.43,4.0,True,44.80
15,NY,161,415,No,No,0,183.0,112.0,31.11,317.8,...,27.01,160.6,128.0,7.23,5.4,9,1.46,4.0,True,59.58
21,CO,77,408,No,No,0,183.0,112.0,31.11,169.9,...,14.44,209.6,64.0,9.43,5.7,6,1.54,5.0,True,47.09
33,AZ,12,408,No,No,0,249.6,118.0,23.87,271.8,...,21.45,280.2,90.0,12.61,11.8,3,3.19,1.0,True,48.51
41,MD,135,408,Yes,Yes,41,173.1,85.0,29.43,203.9,...,17.33,122.2,78.0,5.50,14.6,15,3.94,0.0,True,50.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3301,CA,84,415,No,No,0,280.0,113.0,47.60,202.2,...,17.19,156.8,103.0,7.06,10.4,4,2.81,0.0,True,67.60
3304,IL,71,510,Yes,No,0,186.1,114.0,31.64,198.6,...,16.88,206.5,80.0,9.29,13.8,5,3.73,4.0,True,52.25
3320,GA,122,510,Yes,No,0,140.0,101.0,23.80,196.4,...,16.69,120.1,133.0,5.40,9.7,4,2.62,4.0,True,43.11
3322,MD,62,408,No,No,0,321.1,105.0,54.59,265.5,...,22.57,180.5,72.0,8.12,11.5,2,3.11,4.0,True,80.27
3323,IN,117,415,No,No,0,118.4,126.0,20.13,249.3,...,21.19,227.0,56.0,10.22,13.6,3,3.67,5.0,True,44.99

 ## 5. Compare the number of calls made in the day versus in the night and present the time of the day with the most calls measured in hours

In [146]:
day_calls = churn_clean['Total day calls'].sum()
night_calls = churn_clean['Total night calls'].sum()
if day_calls > night_calls:
    hours = (churn_clean['Total day calls']*churn_clean['Total day minutes']).sum()/60
    print(f'Day time has the most calls of {round(hours, 2)} hours.')
else:
    hours = (churn_clean['Total night calls']*churn_clean['Total night minutes']).sum()/60
    print(f'Night time has the most calls of {round(hours, 2)} hours.')

Day time has the most calls of 1004121.09 hours.

 ## 6. How many customers are in Arizona State?

In [80]:
state_customers = churn_clean['State'].groupby(churn_clean['State']).count() #or churn_clean['State'].value_counts()
state_customers #(gives you a list of each state and the number of coustomers residing in them.
# OR
az_customers = churn_clean[churn_clean['State'] == 'AZ']['State'].count()  #gives a count of customers in the arizona state
print(f'{az_customers} customers reside in Arizona state.')

64 customers reside in Arizona state.

 ## 7. Number of customers in New Jersey who had voicemail and an international plan

In [90]:
New_Jersey_cust = churn_clean[churn_clean['State'] == 'NJ']
New_Jersey_voice = New_Jersey_cust[New_Jersey_cust['Voice mail plan'] == 'Yes']
New_Jersey_intl = New_Jersey_voice[New_Jersey_voice['International plan'] == 'Yes']

Customer_num = New_Jersey_intl['State'].count() #gives a count of the number of rows in the specified column of the data frame
'''Customer_num = New_Jersey_intl['State'].value_counts(), gives a count of the individual unique items in the specified column of the dataframe 
and is the same as grouping and then counting the number of entries per group''' 

print(f'{Customer_num} customers in New Jersey had voicemail and international plan.')

4 customers in New Jersey had voicemail and international plan.

 ## 8. How much did the company make from those who churned before they churned

In [95]:
churn_ed 
churn_amount = (churn_ed['Total day charge']+churn_ed['Total eve charge']+churn_ed['Total night charge']+churn_ed['Total intl charge']).sum()
print(f'The company made ${churn_amount:,} from its customers before they churned.')

The company made $31,543.39 from its customers before they churned.

## 9. which customer spent the most on evening calls and for how long and which state do they live?

In [125]:
highest_eve_charge = max(churn_clean['Total eve charge'])
highest_eve_charge
highest_eve_profile = churn_clean[churn_clean['Total eve charge'] == highest_eve_charge]
num_hours = highest_eve_profile['Total night minutes'].values[0]
location =  highest_eve_profile['State'].values[0]
location
id = highest_eve_profile.index[0] #index() is not callable: find out why
print(f' Customer no.{id} in {location} state spent the most evening calls with charges of ${highest_eve_charge} for {num_hours} hours.')

 Customer no.2732 in NC state spent the most evening calls with charges of $30.91 for 126.7 hours.

 ## 10. How many customers from tennessee never called customer service for assistance

In [135]:
ten_customers = churn_clean[churn_clean['State'] == 'TN']
no_service_call = ten_customers[ten_customers['Customer service calls'] == 0]
no_service_count = no_service_call['Customer service calls'].count()
print(f'{no_service_count} customers from Tennessee state never called customer service for assistance.')

12 customers from Tennessee state never called customer service for assistance.